[submodule "demo2/src"]
	path = demo2/src
	url = https://github.com/shin1x1/laravel-table-admin-example.git
[submodule "demo34/src"]
	path = demo34/src
	url = git@github.com:shin1x1/laravel-table-admin-example.git
[submodule "demo5/src"]
	path = demo5/src
	url = git@github.com:shin1x1/laravel-table-admin-example.git
